#demo {
  width: 800px;
  max-width: calc(100vw - 2em);
  margin: 1em;
}

#demo h3 {
  margin-top: 2em;
}

#demo p {
  margin-bottom: 2em;
}

#demo hr {
  width: calc(100vw - 3em);
}

#demo table {
  font-size: 0.5em;
  margin: 3em 1em;
}

#demo table th {
  min-width: 8em;
}

#demo select {
  border: var(--border);
  font-size: 0.75em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

#demo button {
  background: black;
  color: white;
  border: none;
  padding: 1em;
  min-width: 6em;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-family: var(--font-book);
}

#demo button[disabled] {
  opacity: 0.25;
}

#demo button.small {
  padding: 0.25em;
  min-width: 6em;
  font-size: 0.75rem;
}

#demo form {
  position: relative;
  border: var(--border);
  padding: 1em;
  width: 100%;
}

#demo form[disabled]:before {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  content: 'Sign in to continue';
  background-color: rgba(255, 255, 255, 0.9);
}

#demo form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

#demo form aside {
  color: var(--color-warning);
}

#demo #payment-methods button {
  position: relative;
  top: -2px;
  margin-left: 1em;
}

#demo ul#subscriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  width: calc(100vw - 2em);
  list-style: none;
  padding: 0;
}

#demo #subscriptions li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-width: 250px;
  border: var(--border);
  padding: 1em;
  margin: 1em;
}

#demo #subscriptions li[data-is-subscribed='true'] {
  border-style: dashed;
}

#demo #subscriptions p {
  font-size: 0.5em;
  min-height: 3em;
}

#demo #subscriptions img {
  width: 5em;
}

/* Modal */
#modal > div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: white;
  overflow: auto;
}

#modal section {
  display: flex;
  flex-direction: column;

  width: var(--modal-width);
  height: var(--modal-height);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
}

#modal .header {
  position: relative;
}

#modal h2 {
  margin: 0.5rem;
}

#modal .close {
  position: absolute;
  top: -1px;
  right: 0;
}

#modal .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1em;
}

#modal .body > * {
  margin-bottom: 1rem;
}

#modal .buttons {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin-top: 1em;
}

#modal .body img {
  max-width: 300px;
  height: 300px;
}
