rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUser(uid) {
      return request.auth.uid == uid;
    }

    match /stripe-customers/{uid}/{document=**} { 
      allow read: if isUser(uid);
      allow write: if false;
    }

    match /stripe-products/{document=**} { 
      allow read, write: if true;
    }
  }
}