FIREBASE_DATABASE_URL=https://fireline-2020.firebaseio.com
FIREBASE_PROJECT=fireline-2020
FIREBASE_TOKEN=ABCDEFG
GCLOUD_PROJECT=fireline-2020
GOOGLE_APPLICATION_CREDENTIALS=/app/functions/service-account.json
SERVICE_ACCOUNT_BASE64=ABCDEFG
