FIREBASE_DATABASE_URL=https://fireline-2020.firebaseio.com
FIREBASE_PROJECT=fireline-2020
FIREBASE_TOKEN=ABCDEFG
GOOGLE_APPLICATION_CREDENTIALS=/app/functions/service-account.json
STRIPE_PK=pk_test_ABCDEFG
STRIPE_SK=sk_test_ABCDEFG
STRIPE_SIGNING_SECRET_INVOICE=whsec_ABCDEFG
STRIPE_SIGNING_SECRET_PRICE=whsec_ABCDEFG
STRIPE_SIGNING_SECRET_PRODUCT=whsec_ABCDEFG
STRIPE_SIGNING_SECRET_SUBSCRIPTION=whsec_ABCDEFG
SERVICE_ACCOUNT_BASE64=ABCDEFG
